@charset "utf-8";

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.ttf') format('truetype'),
        url('DobkinPlain.woff') format('woff');
}

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.ttf') format('truetype'),
        url('cac_champagne.woff') format('woff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Mackenzie Baker
   Date:   9.13.2018
   
   Filename: lake_styles.css
*/

/* Structure */
html {
    background-color: rgb(234, 126, 96);
}

header>nav {
    background-color: whitesmoke;
}

section#rightcol {
    background-color: whitesmoke;
}

aside {
    text-align: center;
}

/* Headings */
h1, h2{
    font-style: italic;
    text-align: center;
    font-size: 2.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navigation */
nav>ul {
    list-style: none;
    text-align: center;
    padding: 5px;

}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover,
nav a:active {
    color: royalblue;
}

/* Blockquote */
